<header>
  <nav
    class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand fs-1" style="font-family: 'Dancing Script', cursive;">ThisBistro</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
              aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a routerLink="/" class="nav-link text-dark" data-bs-toggle="collapse"
               data-bs-target=".navbar-collapse.show">Home</a>
          </li>
          <li class="nav-item" *ngFor="let category of categories">
            <a routerLink="/menu/{{ category.id }}" class="nav-link text-dark"
               routerLinkActive="active" data-bs-toggle="collapse"
               data-bs-target=".navbar-collapse.show">{{category.name}}</a>
          </li>
        </ul>
        <div class="me-3 mb-3 mb-sm-0 d-flex text-dark">
          <span style="cursor: pointer;" routerLink="/manager" data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show">Admin</span>
        </div>
        <a routerLink="/cart" class="navbar-text me-5 position-relative" data-bs-toggle="collapse"
           data-bs-target=".navbar-collapse.show">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <span *ngIf="cartCount"
                class="position-absolute top-10 start-100 translate-middle badge rounded-pill bg-dark ">
            {{ cartCount }}
            <span class="visually-hidden">Number of items in cart</span>
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
