<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="generalForm">

  <app-input inputType="time" label="Open Hour" [control]="$any(generalForm).get('openHour')"></app-input>
  <app-input inputType="time" label="Close Hour" [control]="$any(generalForm).get('closeHour')"></app-input>
  <div class="form-check form-switch">
    <label class="form-check-label" for="flexSwitchCheckDefault">Currently Open</label>
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [formControl]="$any(generalForm).get('isOpen')">
  </div>

  <div class="mt-3">
    <app-save-button [signal$]="signal$"></app-save-button>
  </div>
</form>
