<div>
  <label class="form-label">{{ label }}</label>
  <input [ngClass]="{ 'is-invalid': showErrors() && control.errors }" class="form-control" [type]="inputType" [formControl]="control"/>
  <div *ngIf="showErrors() && control.errors" class="invalid-feedback">
    <p *ngIf="control.errors['required']">
      Value is required
    </p>
    <p *ngIf="control.errors['minlength']">
      Value needs to be at least {{ control.errors['minlength']['requiredLength'] }} letters.
    </p>
    <p *ngIf="control.errors['maxlength']">
      Value cannot be longer than {{ control.errors['maxlength']['requiredLength'] }} letters.
    </p>
    <p *ngIf="control.errors['pattern']">
      Invalid format
    </p>
    <p *ngIf="control.errors['nonUniqueUsername']">
      Username already exists.
    </p>
    <p *ngIf="control.errors['noConnection']">
      Failed to communicate with the server.
    </p>
  </div>
</div>
